# Buisnessbook.pk scraping

In [3]:
import requests
from bs4 import BeautifulSoup

In [4]:
base_site="https://www.businessbook.pk/location/karachi-75"
response=requests.get(base_site)
response

In [5]:
html=response.text

In [6]:
soup=BeautifulSoup(html,"html.parser")

In [7]:
head=soup.find("head")
head.text

'\n\nKarachi Business Directory - List of Companies in Karachi - BusinessBook.pk\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n'

In [235]:
# base_site="https://www.businessbook.pk/location/karachi-75"
# body=soup.find("body")
# body

In [236]:
# list=[]
# for i in body.find_all(class_="img-crop-center"):
#     list.append(i.get("href"))

In [63]:
len(body.find_all(class_="col-sm-4"))

52

In [241]:
# body.find_all(class_="col-sm-4")

In [66]:
len(body.find_all(class_="heading-theme-primary"))

59

In [242]:
"col-sm-4"
"heading-theme-primary"
"img-crop-center"

'img-crop-center'

In [67]:
len(list)

50

In [237]:
# title=[]
# href=[]
# for i in body.find_all(class_="heading-theme-primary"):
#     if str(i.get("title")) != "None":
#         title.append(str(i.get("title")))
#         href.append(i.get("href"))

In [97]:
len(title)

50

In [238]:
# title=[]
# for i in body.find_all(class_="heading-theme-primary"):
#     if str(i.get("title")) != "None":
#         title.append(str(i.get("title")))

In [239]:
# phone_no=[]
# address=[]
# for i in body.find_all(class_="col-sm-4"):
    
#     if "Phone No:" in i.text:
#         a=(i.text.split("Phone No:"))
#         phone_no.append(a[1].strip("\n"))
#         address.append(a[0].strip("\n"))

In [122]:
len(phone_no)

50

In [240]:
#address

In [243]:
# title=[]
# href=[]
# phone_no=[]
# address=[]
# for i in body.find_all(class_="heading-theme-primary"):
#     if str(i.get("title")) != "None":
#         title.append(str(i.get("title")))
#         href.append(i.get("href"))

#### creating links: every page contains 40 links

In [144]:
string="https://www.businessbook.pk/location/karachi-75?per_page="
link=["https://www.businessbook.pk/location/karachi-75"]
count=40
for i in range(25):
    link.append(string+str(count))
    count+=40

In [146]:
link[1]=="https://www.businessbook.pk/location/karachi-75?per_page=40"

True

In [147]:
links=["https://www.businessbook.pk/location/karachi-75","https://www.businessbook.pk/location/karachi-75?per_page=40","https://www.businessbook.pk/location/karachi-75?per_page=80","https://www.businessbook.pk/location/karachi-75?per_page=120,","https://www.businessbook.pk/location/karachi-75?per_page=160","https://www.businessbook.pk/location/karachi-75?per_page=200","https://www.businessbook.pk/location/karachi-75?per_page=240","https://www.businessbook.pk/location/karachi-75?per_page=280","https://www.businessbook.pk/location/karachi-75?per_page=320","https://www.businessbook.pk/location/karachi-75?per_page=360",]
f_title=[]
f_href=[]
f_phone_no=[]
f_address=[]
for i in link:
    
    base_site=i
    response=requests.get(base_site)
    html=response.text
    soup=BeautifulSoup(html,"html.parser")
    body=soup.find("body")
    title=[]
    href=[]
    phone_no=[]
    address=[]
    for i in body.find_all(class_="heading-theme-primary"):
        if str(i.get("title")) != "None":
            title.append(str(i.get("title")))
            href.append(i.get("href"))
    phone_no=[]
    address=[]
    for j in body.find_all(class_="col-sm-4"):

        if "Phone No:" in j.text:
            a=(j.text.split("Phone No:"))
            phone_no.append(a[1].strip("\n"))
            address.append(a[0].strip("\n"))
    f_title.extend(title)
    f_href.extend(href)
    f_phone_no.extend(phone_no)
    f_address.extend(address)

In [148]:
for i in [f_title,f_href,f_phone_no,f_address]:
    print(len(i))

1300
1300
1300
1300

In [156]:
len(set(f_phone_no))

993

In [159]:
import pandas as pd
df=[]
df=pd.DataFrame(df)

In [160]:
df["Title"]=f_title
df["Phone No"]=f_phone_no
df["Address"]=f_address
df["Link"]=f_href

In [234]:
# for i in df.columns:
#     print(df[i].unique())

#### still needs cleaning of phone_no

In [246]:
df.head(5)

,Title,Phone No,Address,Link
0,Z.A Engineers & Designers,"0300-2434979, 02134221526","Plot No. L-863, Sector No. 2, North Karachi. K...",https://www.businessbook.pk/detail/z-a-enginee...
1,Serani Chemicals Waterproofing Company (Roof w...,"03358478698, 03434321242\n\nClosed Now","Shop-3, Batha Town, Peoples Colony North Nazim...",https://www.businessbook.pk/detail/serani-chem...
2,Baraka Textile,021-32405810,"Plot 72, sector 15, Korangi industrial area. K...",https://www.businessbook.pk/detail/baraka-text...
3,GOLDEN SEA ENTERPRISES,"03432471824, 03432471824","Plot No.15, Room No.16, Rehman Trade Center Ti...",https://www.businessbook.pk/detail/golden-sea-...
4,Saleem Law Associates,"0306-2300820, 0306-2300820","103, Sayed Arcade, Block 2, near Jheel Park, T...",https://www.businessbook.pk/detail/saleem-law-...

In [186]:
df.to_csv('business data.csv', index = False)